@keyframes pop-in  { 0%   { opacity: 0; transform: translateY(15px); scale: 0.99; } }
@keyframes pop-out { 100% { opacity: 0; transform: translateY(-5px); scale: 0.99; } }
@keyframes zoom-in { 100% { opacity: 0; scale: 0.95; } }

.anim-pop-in {
    animation: pop-in 0.2s ease;
}

.anim-pop-out {
    animation: pop-out 0.2s ease;
}

.anim-zoon-in {
    animation: zoom-in 0.2 ease;
}
