:root {
    --pl-accent: #f0a;
    --pl-glow-color: #aaa5;
    --pl-shadow-color: #0005;
    --pl-backdrop-color: #1118;
    --pl-header-color: #80a;
    --pl-body-color: #1a1a1a;
    --pl-view-color: #2f2a2f;
    --pl-dialog-color: #3f3a3f;
    --pl-border-color: #fff2;
    --pl-view-border-color: #fff1;
    --pl-dark-border-color: #0005;
    --pl-marker-color: #747a;
    --pl-overlay-color: #000c;
    --pl-overlay-color2: #59e9;
    --pl-text-normal: #eee;
    --pl-text-dimmed: #aaa;
    --pl-text-bright: #fff;
    --pl-text-marker: #fff;
    --pl-text-shadow: #5555;
    --pl-link-color: #8cf;
    --pl-link-hover-color: #aef;
    --pl-link-visited-color: #c8f;
    --pl-control-accent: #c5e;
    --pl-control-normal: #bbb3;
    --pl-control-hover: #bbb5;
    --pl-control-active: #bbb6;
    --pl-control-selected: #fffe;
    --pl-control-suggested-normal: #29fc;
    --pl-control-suggested-hover: #2bfc;
    --pl-control-suggested-active: #27fc;
    --pl-control-destructive-normal: #f22c;
    --pl-control-destructive-hover: #f55c;
    --pl-control-destructive-active: #c11c;
    --pl-control-text-normal: #fff;
    --pl-control-text-hover: #fff;
    --pl-control-text-active: #eee;
    --pl-control-text-selected: #000c;
    --pl-control-border-color: #aaa3;
    --pl-table-accent: var(--pl-view-color);
    --pl-table-background: var(--pl-view-color);
    --pl-table-border: #aaa3;
    --pl-table-border2: #aaa3;
    --pl-table-caption: #0003;
    --pl-table-row-color-head: #7771;
    --pl-table-row-color-body1: #0004;
    --pl-table-row-color-body2: #0002;
    --pl-badge-text-color: #fffd;
    --pl-badge-drafting: #08fd;
    --pl-badge-canceled: #e33d;
    --pl-badge-active: #3e39;
    --pl-badge-unmaintained: #5568;
    --pl-badge-deprecated: #445c;
}
