<template id="root">
  <div class="view-about">
    <section>
      <h1>About me</h1>
      <div class="profile">
        <img class="picture" src="img/profile.jpg" alt="Profile picture" draggable="false">
        <div>
          <div class="info">
            <h2 translate="no">Pisko</h2>
            <p>Developer, Linux lover and FLOSS enthusiast</p>
          </div>
          <ul class="socials" aria-roledescription="My socials">
            <li>
              <a href="https://tech.lgbt/@piskomauz" class="nonselectable" target="_blank" aria-label="Mastodon">
                <img class="icon" src="img/socials/mastodon.svg" alt="Mastodon" draggable="false">
              </a>
            </li>
            <li>
              <a href="https://gitlab.com/piskomauz" class="nonselectable" target="_blank" aria-label="GitLab">
                <img class="icon" src="img/socials/gitlab.svg" alt="GitLab" draggable="false">
              </a>
            </li>
            <li>
              <a href="https://github.com/thaynansilva" class="nonselectable" target="_blank" aria-label="GitHub">
                <img class="icon" src="img/socials/github.svg" alt="GitHub" draggable="false">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h1>About <span translate="no">Pisko Lab</span></h1>
      <p>...</p>
    </section>
  </div>
</template>
