<template id="root">
  <div class="view-posts">
    <ul class="feed standard-list separators" role="feed" aria-roledescription="Blog posts">
    </ul>
    <div class="paginator" role="group" aria-label="Paginator controllers">
      <a class="button flat icon-button-small nonselectable" aria-label="Previous page"
          href="#" draggable="false" data-name="prev-page">
        <pl-svg src="img/icons/navigate-previous.svg" aria-hidden="true"></pl-svg>
      </a>
      <div aria-roledescription="Current page">
        <span data-name="page-index">-</span>
        <span aria-label="of">&sol;</span>
        <span data-name="total-pages">-</span>
      </div>
      <a class="button flat icon-button-small nonselectable" aria-label="Next page"
          href="#" draggable="false" data-name="next-page">
        <pl-svg src="img/icons/navigate-next.svg" aria-hidden="true"></pl-svg>
      </a>
    </div>
  </div>
</template>
<template id="post">
  <li class="post">
    <a href="" data-name="link">
      <div>
        <time data-name="publish-date"></time>
        <h1 data-name="title"></h1>
        <p data-name="description"></p>
      </div>
    </a>
  </li>
</template>
