<template id="root">
  <div class="view-projects">
    <ul class="portfolio standard-list separators"></ul>
  </div>
</template>
<template id="project">
  <li class="project">
    <a href="" target="_blank" data-name="link">
      <div>
        <pl-svg class="icon" src="img/icons/project.svg" alt="Icon"
                aria-hidden="true" data-name="logo"></pl-svg>
        <div>
          <div>
            <h1 translate="no" data-name="name"></h1>
            <span class="bubble" data-status="" data-name="status"></span>
          </div>
          <p data-name="description"></p>
        </div>
      </div>
    </a>
  </li>
</template>
